certifi==2020.6.20
chardet==3.0.4
corenlp-protobuf==3.8.0
Deprecated==1.2.10
future==0.18.2
idna==2.10
numpy==1.19.1
openreview-py==1.0.16
pandas==1.1.1
protobuf==3.13.0
pycryptodome==3.9.8
pylatexenc==2.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
stanford-corenlp==3.9.2
tld==0.10
tqdm==4.48.2
urllib3==1.25.10
wrapt==1.12.1
